<div>
    <link href="/css/desktop1.css" rel="stylesheet" type="text/css">

    <div>
      <div class="desktop1-desktop1">
        <span class="desktop1-text"><span>Instant Wrapped</span></span>
        <img
          src="/assets/spotify_logo.png"
          alt="spotifylogo1152"
          class="desktop1-spotifylogo1"
        />
        <a href="./login">
        <div class="desktop1-frame1">
          <span class="desktop1-text02"><span>Get Started</span></span>
        </div>
      </a>

        <a href="./login">
        <div class="desktop1-frame2">
          <span class="desktop1-text04"><span>Log in</span></span>
        </div>
      </a>
      <div class="carousel">
            <img
            src="/assets/folklore.webp"
            alt="folklore13336"
            class="desktop1-folklore1"
        />
        <img
            src="/assets/weeknd.png"
            alt="ScreenShot20221105at23613337"
            class="desktop1-screen-shot20221105at2361"
        />
        <img
            src="/assets/abbeyroad.jpg"
            alt="abbeyroad13335"
            class="desktop1-abbeyroad1"
        />
      </div>
        <span class="desktop1-text06"><span>Tired of waiting for</span></span>
        <span class="desktop1-text08"><span>Spotify Wrapped?</span></span>
        <span class="desktop1-text10">
          <span>See your stats right here, right now.</span>
        </span>
      </div>
    </div>
  </div>
  